/* navbar */
.navbar {
    background-color: #c0c5cc;
    height: 80px;
}

.navbar a {
    text-transform: none;
}

.navbar-brand {
    color: white;
}

.navbar-link {
    color: blanchedalmond;
}
.navbar-brand img {
    width: 50px; /* Ajusta según sea necesario */
    height: 48px; /* Ajusta según sea necesario */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

  

/*Body*/
body {
    background-color: black;
    font-family: 'Roboto';
}

/* main */
main {
    margin-top: 80px;
}

/*Footer*/
footer {
    margin: 20px;
    padding: 20px;
    border-top: 2px solid gray;
    text-align: center;
    color: white; 
}

/*Inicio*/
#imgMain {
    width: 70%;
    height: 50%;
}




/*Servicios*/
.container-service {
    overflow: hidden;
    margin: 20px;
}
.imgService {
    width: 50%;
    height: 70%;
    float: left;
    margin-right: 20px;
}
.right {
    overflow: hidden;
}

/*Consulta*/
.form-ask {
    margin: 100px 20px 100px 0;
}
.form-ask label {
    display: block;
    margin-bottom: 5px;
}
#code {
    display: block;
    margin-bottom: 10px;
}
.btn-ask {
    margin-right: 10px;
}

/*Publicaciones*/
.containerPost{
    margin: 50px;
    width: 80%;
}
.imgPost {
    border: 4px solid white;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

/*Contact*/
.form-contact label {
    display: block;
    margin-bottom: 5px;
}
.form-contact label {
    display: block;
    margin-bottom: 5px;
    width: 100px;
}
.btn-contact {
    display: block;
    margin: 10px;
    margin: 10px 0 10px 0;
}